In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
toxicComments = pd.read_csv('toxicity_annotated_comments_unanimous.tsv', sep="\t")

toxicComments.comment[6]

"NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKEN Request from NEWLINE_TOKENNEWLINE_TOKENHi Tim - Is your page at  still necessary?  It is often one of the only two pages linking to what are otherwise non-existent pages, (the other being User:Daniel Quinlan/redirects6f).  As Daniel's is the one used for updates could you remove yours, unless there is another reason for it being there.  Similarly if you have other pages for of a similar nature.  Thanks.    (Leave message on my user page if this requires a response)."

In [3]:
toxicScores = pd.read_csv("toxicity_annotations_unanimous.tsv", sep="\t")

toxicScores.head(10)

     rev_id  worker_id  toxicity  toxicity_score
0  527004.0       3802         0             0.0
1  527004.0       3942         0             0.0
2  527004.0        590         0             0.0
3  527004.0        481         0             0.0
4  527004.0       3944         0             0.0
5  527004.0       4172         0             0.0
6  527004.0       2419         0             0.0
7  527004.0       3323         0             0.0
8  527004.0       2851         0             0.0
9  527004.0       4175         0             0.0

In [4]:
toxicScores.sort_values(by = 'toxicity_score', ascending = True).head(10)

            rev_id  worker_id  toxicity  toxicity_score
16200  280031256.0        223         1            -2.0
20038  355040219.0       2830         1            -2.0
20039  355040219.0       2777         1            -2.0
20040  355040219.0       1729         1            -2.0
14941  259352824.0       1441         1            -2.0
18183  315709771.0       3228         1            -2.0
18184  315709771.0       3551         1            -2.0
18185  315709771.0       3239         1            -2.0
18186  315709771.0       2349         1            -2.0
20037  355040219.0        805         1            -2.0

In [6]:
toxicIdentify = toxicScores['toxicity'] > 0

toxicScores.loc[toxicIdentify, :].head(10)

         rev_id  worker_id  toxicity  toxicity_score
525  13262553.0       3797         1            -1.0
526  13262553.0        439         1            -1.0
527  13262553.0        715         1            -1.0
528  13262553.0       1761         1            -1.0
529  13262553.0       1884         1            -1.0
530  13262553.0       3798         1            -1.0
531  13262553.0       2950         1            -1.0
532  13262553.0       3091         1            -1.0
533  13262553.0       2891         1            -1.0
534  13262553.0       1981         1            -1.0

In [7]:
comments = toxicComments.merge(toxicScores, on='rev_id', how='left')

comments.head()

,rev_id,comment,year,logged_in,ns,sample,split,worker_id,toxicity,toxicity_score
0,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test,3802,0,0.0
1,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test,3942,0,0.0
2,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test,590,0,0.0
3,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test,481,0,0.0
4,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test,3944,0,0.0

In [ ]:
comments['toxicity_score'] = toxicScores.rev_id.apply(lambda x: toxicScores[toxicScores.rev_id == x]['toxicity_score'].mean())
comments['toxicity'] = toxicScores.rev_id.apply(lambda x: toxicScores[toxicScores.rev_id == x]['toxicity'].mean())